<ul>
  <li><%= @service.title %></li>
  <li><%= @service.description %></li>
  <li><%= @service.duration %></li>
  <li><%= @service.price %></li>

  <%if user_signed_in? && is_admin? %>
    <%= link_to "Delete", @service, method: :delete, class: "delete_link", remote: true %>
    <%= link_to "Edit", edit_service_path(@service), class: "edit_link", remote: true %>
  <% end %>
</ul>