<li><h1><%= @service.title %></h1>
    <p><%= @service.description %></p>
    <p><%= @service.duration %></p>
    <p>$<%= @service.price %>0</p>
    <p><%= @service.kind %></p>
    <p><%= link_to "Delete", @service, method: :delete, class: "delete_link", remote: true %></p></li>