<div class="services container">
  <%if user_signed_in? && is_admin? %>
  <%= link_to "Add a Service", new_service_path, id: "new_service_link", remote: true %>
  <br><br>
  <% end %>
  

  <ul class="col-8-md" id="service_list">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#skin" data-toggle="tab">Skin</a></li>
      <li><a href="#sugaring" data-toggle="tab">Sugaring</a></li>
    </ul>

    
    <div class="tab-content">
      <!-- Tab panes -->

      <div class="tab-pane active" id="skin">

        <div class="jumbotron hidden-xs">
          <h1>Skin</h1>
        </div>

        <p>Say goodbye to cookie-cutter facials! Our Dermalogica skin treatments are 100% customized to your skin's needs with a thorough skin analysis, making it a personalized treatment created especially for your skin's needs! The perfect home care routine will be prescribed as your secret weapon to keeping your skin feeling healthy, balanced and replenished!</p>

        <% @skin_services.each do |s| %>
        <li class="service-box col-md-6"><h1><%= s.title %></h1>
          <p><%= s.description %></p>
          <p><%= s.duration %></p>
          <p>$<%= s.price %></p>
          <p><%= s.kind %></p>

          <%if user_signed_in? && is_admin? %>
          <p><%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %></p>
          <% end %>
          <% end %>
          <hr>
        </li>
      </div>

      <div class="tab-pane" id="sugaring">

        <div class="jumbotron hidden-xs">
          <h1>Sugaring</h1>
        </div>

        <p>The art of body sugaring is a form of hair removal that originated in ancient Egypt when a smooth, hairless body was the standard of youth and beauty. Sugar paste is an <strong>all natural</strong> product made from sugar, lemon and water. Unlike waxing, sugar never adheres to live skin cells and is removed in the natural direction of hair growth; resulting in less pain, less breakage, less irritation, and fewer ingrown hairs. Sugaring is safe for all skin types, even the most sensitive. Great for any part of the body! </p>

        <% @sugaring_services.each do |s| %>
        <li class="service-box col-md-6"><h1><%= s.title %></h1>
          <p><%= s.description %></p>
          <p><%= s.duration %></p>
          <p>$<%= s.price %></p>
          <p><%= s.kind %></p>

          <%if user_signed_in? && is_admin? %>
          <p><%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %></p>
          <% end %>
          <% end %>
          <hr>
        </li>
      </div>
    </ul>
  </div>

