<%= render 'shared/appointment_banner'%>

<div class="services container">
 <div class="adminLink">
  <%if user_signed_in? && is_admin? %>
  <%= link_to "Add a Service", new_service_path, id: "new_service_link", remote: true, :class =>"text-primary" %>
  <br><br>
  <% end %>
  

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#<%= @service_types.first.name.delete(' ') %>" data-toggle="tab"><%= @service_types.first.name %></a></li>
    <% @inactive_service_types.each do |type| %>
    <li><a href="#<%= type.name.delete(' ') %>" data-toggle="tab"><%= type.name %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="col-md-12 tab-pane active" id="<%= @service_types.first.name.delete(' ') %>">
      <div class="hidden-xs marginTop">
        <h1><%= @service_types.first.name %></h1>
      <figure><img src="<%=  @service_types.first.image_url %>" /></figure>
      </div>
      <h3><%= @service_types.first.description %></h3>
      <ul class="service_list">
        <% @service_types.first.services.each do |s| %>
          <li class="col-md-6">
          <h3><%= s.title %></h3>
           <span class="glyphicon glyphicon-time"></span>&nbsp;<p class="service-duration"><%= s.duration %></p>
           <span class="glyphicon glyphicon-usd"></span>&nbsp;<p class="service-price"><%= s.price %></p>
          <p><%= s.description %></p>
          
          <span class="pull-right">
            <%if user_signed_in? && is_admin? %>
          <%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %>
          &nbsp;&nbsp;&nbsp;
            <%= link_to "Edit", edit_service_path(s), class: "edit_link", remote: true %></li>
          <% end %>
        </span>
        <% end %>
      </ul>
    </div>
    <% @inactive_service_types.each do |type| %>
    <div class="col-md-12 tab-pane" id="<%= type.name.delete(' ') %>">
      <div class="hidden-xs marginTop">
        <h1><%= type.name %></h1>
        <figure><img src="<%= type.image_url %>" /></figure>
      </div>
      <h3><%= type.description %></h3>
      <ul class="service_list">
        <% type.services.each do |s| %>
          <li class="col-md-6">
          <h3><%= s.title %></h3>
          <span class="glyphicon glyphicon-time"></span>&nbsp;<p class="service-duration"><%= s.duration %></p>
          <span class="glyphicon glyphicon-usd"></span>&nbsp;<p class="service-price"><%= s.price %></p>
          <p><%= s.description %></p>
          
        <span class="pull-right">
          <%if user_signed_in? && is_admin? %>
            <%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %>
            &nbsp;&nbsp;&nbsp;
            <%= link_to "Edit", edit_service_path(s), class: "edit_link", remote: true %></li>
          <% end %>
        </span>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

</div>

