<div class="services container">
  <%if user_signed_in? && is_admin? %>
  <%= link_to "Add a Service", new_service_path, id: "new_service_link", remote: true %>
  <br><br>
  <% end %>
  

  <ul class="col-8-md" id="service_list">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#skin" data-toggle="tab">Skin</a></li>
      <li><a href="#sugaring" data-toggle="tab">Sugaring</a></li>
    </ul>

    
    <div class="tab-content">
      <!-- Tab panes -->

      <div class="tab-pane active" id="skin">

        <div class="jumbotron hidden-xs">
          <h1>Skin</h1>
        </div>

        <% @skin_services.each do |s| %>
        <li class="service-box col-md-6"><h1><%= s.title %></h1>
          <p><%= s.description %></p>
          <p><%= s.duration %></p>
          <p>$<%= s.price %>0</p>
          <p><%= s.kind %></p>

          <%if user_signed_in? && is_admin? %>
          <p><%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %></p>
          <% end %>
          <% end %>
          <hr>
        </li>
      </div>

      <div class="tab-pane" id="sugaring">

        <div class="jumbotron hidden-xs">
          <h1>Sugaring</h1>
        </div>

        <% @sugaring_services.each do |s| %>
        <li class="service-box col-md-6"><h1><%= s.title %></h1>
          <p><%= s.description %></p>
          <p><%= s.duration %></p>
          <p>$<%= s.price %>0</p>
          <p><%= s.kind %></p>

          <%if user_signed_in? && is_admin? %>
          <p><%= link_to "Delete", s, method: :delete, class: "delete_link", remote: true %></p>
          <% end %>
          <% end %>
          <hr>
        </li>
      </div>
    </ul>
  </div>

