<div class="services container">
  <%if user_signed_in? && is_admin? %>
  <%= link_to "Add a Service", new_service_path, id: "new_service_link", remote: true %>
  <br><br>
  <% end %>
  

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#<%= @service_types.first.name.delete(' ') %>" data-toggle="tab"><%= @service_types.first.name %></a></li>
    <% @inactive_service_types.each do |type| %>
    <li><a href="#<%= type.name.delete(' ') %>" data-toggle="tab"><%= type.name %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="<%= @service_types.first.name.delete(' ') %>">
      <div>
        <img src="<%= @service_types.first.image_url %>">
        <h1><%= @service_types.first.name %></h1>
      </div>
      <h3><%= @service_types.first.description %></h3>
      <ul>
        <% @service_types.first.services.each do |s| %>
          <li><%= s.title %></li>
          <li><%= s.description %></li>
          <li><%= s.duration %></li>
          <li><%= s.price %></li>
        <% end %>
      </ul>
    </div>
    <% @inactive_service_types.each do |type| %>
    <div class="tab-pane" id="<%= type.name.delete(' ') %>">
      <div>
        <img src="<%= type.image_url %>">
        <h1><%= type.name %></h1>
      </div>
      <h3><%= type.description %></h3>
      <ul>
        <% type.services.each do |s| %>
          <li><%= s.title %></li>
          <li><%= s.description %></li>
          <li><%= s.duration %></li>
          <li><%= s.price %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

</div>

