<%= render 'shared/form_errors', :object => @service_type %>

<%= form_for @service_type, :html => {:id => "new_service_type", :class => "form form-inline"}, remote: true do |f| %>
<h2>Add or Edit Service Type</h2>
<a class="close" href="">X</a>
<div class="form-group">
 <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
 </div>
 <div class="form-group">
 <%= f.text_field :image_url, class: "form-control", placeholder: "Image URL" %></div><br>
 </div>
<div class="form-group">
 <%= f.text_area :description, class: "form-control", placeholder: "Description" %></div><br><br>
 </div>
 
 
 <%= f.submit class: "btn btn-primary"  %>
 
 <% end %>