<li id="<%=@service_type.id%>">
  <h3><%= @service_type.name %></h3>
  <p><%= @service_type.description %></p>
  <img class="img-responsive" src="<%= @service_type.image_url %>">
  <%if user_signed_in? && is_admin? %>
  <div class="admin-links">
    <%= link_to "Delete", @service_type, method: :delete, class: "delete_link", remote: true %>
    <%= link_to "Edit", edit_service_type_path(@service_type), class: "edit_link", remote: true %>
  </div>
<% end %>
  
  <hr>
</li>


