    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand main" href="/">BellaDonna</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
         
            <li class="main"><%= link_to "About", about_path, class: cp(about_path) %></li>
            <li class="main"><%= link_to "Products", products_path, class: cp(products_path) %></li>
            <li class="main"><%= link_to "Policies", policies_path, class: cp(policies_path) %></li>
            <li class="main"><%= link_to "Services", services_path, class: cp(services_path) %></li>
            <li class="main"><%= link_to "Contact", new_inquiry_path, class: cp(new_inquiry_path) %></li>
            <% if user_signed_in? && is_admin? %>
            <li class="main"><%= link_to "Promotions", promotions_path, class: cp(promotions_path) %></li>
            <li class="main"><%= link_to "Service Types", service_types_path, class: cp(service_types_path) %></li>

            <li class="main"><%= link_to "My Appointments", appointments_path, class: cp(appointments_path) %></li>
            
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
