<%= form_for @appointment do |f| %>

<div class="form-group col-md-4 col-xs-6">
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name, :class => 'form-control' %>
</div>
<div class="form-group col-md-4 col-xs-6">
  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name, :class => 'form-control' %>
</div>

<div class="form-group col-xs-6">
  <%= f.label :phone_number %><br/>
  <%= f.text_field :phone_number, :class => 'form-control'  %>
</div>

<div class="form-group appointment-dropdown">
  <%= f.label :appointment_type %><br/>
  <%= f.select :appointment_type, options_for_select(@services.map{ |i| [i.title, i.id] }), :class => 'form-control'  %>
</div>

<div class="col-sm-6 clearfix">
  <div class="form-group col-xs-12">
    <%= f.label :first_choice %><br />
    <%= date_select :appointment, :first_date, :discard_year => true %>
    <%= f.time_select :first_time,
    :combined => true,
    :default => Time.now.change(:hour => 11, :min => 30),
    :minute_interval => 15,
    :time_separator => "",
    :start_hour => 10,
    :start_minute => 30,
    :end_hour => 14,
    :end_minute => 30
    %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :second_choice %><br />
    <%= date_select :appointment, :second_date, :discard_year => true %>
    <%= f.time_select :second_time,
    :combined => true,
    :default => Time.now.change(:hour => 11, :min => 30),
    :minute_interval => 15,
    :time_separator => "",
    :start_hour => 10,
    :start_minute => 30,
    :end_hour => 14,
    :end_minute => 30
    %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :third_choice %><br />
    <%= date_select :appointment, :third_date, :discard_year => true %>
    <%= f.time_select :third_time,
    :combined => true,
    :default => Time.now.change(:hour => 11, :min => 30),
    :minute_interval => 15,
    :time_separator => "",
    :start_hour => 10,
    :start_minute => 30,
    :end_hour => 14,
    :end_minute => 30
    %>
  </div>
</div>

<div class="form-group col-md-6">
  <%= f.label :comments %><br/>
  <%= f.text_field :comments, :class => 'form-control' %>
</div>

<div class="form-group ">
  <%= f.check_box :is_new %>
  <%= f.label :I_am_a_new_customer %>
</div>

<div>
  <%= f.submit "Submit Request", :class => 'btn btn-success' %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#datepicker').datepicker (dateFormat: 'dd-mm-yy')
})
</script>
<% end %>