<%= form_for @appointment do |f| %>

<div>
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name %>
</div>

<div>
  <%= f.label :phone_number %><br/>
  <%= f.text_field :phone_number %>
</div>

<div>
  <%= label_tag ("Type of Appointment") %><br/>
  <%= f.text_field :appointment_type %>
</div>
<div>
  <%= f.label :first_choice %><br />
  <%= date_select :appointment, :first_date %>
  <%= f.time_select :first_time,
  :combined => true,
  :default => Time.now.change(:hour => 11, :min => 30),
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 14,
  :end_minute => 30
%>
</div>

<div>
  <%= f.label :second_choice %><br />
  <%= date_select :appointment, :second_date %>
  <%= f.time_select :second_time,
  :combined => true,
  :default => Time.now.change(:hour => 11, :min => 30),
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 14,
  :end_minute => 30
%>
</div>

<div>
  <%= f.label :third_choice %><br />
  <%= date_select :appointment, :third_date %>
  <%= f.time_select :third_time,
  :combined => true,
  :default => Time.now.change(:hour => 11, :min => 30),
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 14,
  :end_minute => 30
%>
</div>

<div>
  <%= f.label :comments %><br/>
  <%= f.text_field :comments %>
</div>

<div>
  <%= f.label :I_am_a_new_ustomer %>
  <%= f.check_box :is_new %>
</div>

<div>
  <%= f.submit "Submit Request" %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#datepicker').datepicker (dateFormat: 'dd-mm-yy')
})
</script>
<% end %>