<div class="site-container appointments container">

<h1>My Appointments</h1>

  <ul id="appointment_list">
    <% @appointments.each do |a| %>
    <div class="col-sm-6 appointment">
      <li>
        <span>Created:</span> 
            <p><%= a.created_at.strftime('%B %d, %Y') %></p>
        <span>Client Name:</span> 
            <p><%= a.first_name %> <%= a.last_name %></p>
        <span>Phone Number:</span> 
            <p><%= parse_phone_number_string(a.phone_number) %></p>
        <span>New or Returning Client:</span> 
        <% if a.is_new %>
            <p>This is a new client! yahoo!</p>
        <% else %>
            <p>Nope</p>
        <% end %>
        <span>First Choise:</span>
            <p><%= a.first_date.strftime('%B %d, %Y') %> at <%= parse_time(a.first_time) %></p>
        <span>Second Choise:</span>
        <p><%= a.second_date.strftime('%B %d, %Y') %> at <%= parse_time(a.second_time) %></p>
        <span>Third Choice:</span>
         <p><%= a.third_date.strftime('%B %d, %Y') %> at <%= parse_time(a.third_time) %></p>
        <span>Appointment Type:</span>
            <p><%= Service.find(a.appointment_type).title %></p>
        <span>Client Comments:</span>
            <p><%= a.comments %></p><br>
        <%= link_to "Delete Appointment", a, method: :delete, class: "delete_link btn btn-danger", remote: true %>
      </div>
    </li> 
    <% end %>
  </ul>
</div>