
<%= form_for @promotion, :html => {:id => "new_promotion", :class => "form form-inline"} do |f| %>
<div class="form-inline">
	<div class="form-group col-xs-6 marginTop">
		<%= f.text_field :header, class: "form-control", placeholder: "Promotion Header" %>
	</div>
	<div class="form-group col-xs-6 marginTop">
		<%= f.text_field :subheader, class: "form-control", placeholder: "Promotion Subheader" %>
	</div>

	<div class="form-group col-xs-6">
		<%= f.text_field :description, class: "form-control", placeholder: "Promotion Short Description" %>
	</div>

</div>
<%= f.submit "Add Promotion", class: "btn btn-primary" %>

<% end %>