<div class="col-md-4">
  <li>
    <h2><%= @promotion.header %></h2>
    <p><%= @promotion.subheader %></p>
    <p>Promotion is: <%= @promotion.is_active == true ? "ACTIVE" : "INACTIVE" %></p>
    <p>Date: <%= @promotion.created_at.strftime("%d %b. %Y") %></p>
    <%= link_to "Delete", @promotion, method: :delete, class: "delete_link", remote: true %>
  <hr>
</li>
</div>