<div class="site-container products container">
  <div class="adminLink">
    <%if user_signed_in? && is_admin? %>
    <span class="glyphicon glyphicon-plus text-primary"></span><%= link_to "Add a Product", new_product_path, id: "new_product_link", remote: true, :class => "text-primary" %>
    <br><br>
    <% end %>
  </div>
  <div>
    <h1>Our Products</h1>
    <ul class="col-sm-12" id="product_list">
      <% @products.each do |p| %>
      <li class="col-sm-6">
       <%= image_tag(p.image_url, class: "img-responsive") %>
       <h2><%= p.name %></h2>
      <span class="glyphicon glyphicon-usd"></span> <p class="product-price">$<%= p.price %></p>
       <p><strong><%= p.description %></strong></p>
       
       <%if user_signed_in? && is_admin? %>
       <div class="admin-links">
         <%= link_to "Delete", p, method: :delete, class: "delete_link", remote: true %>
         <%= link_to "Edit", edit_product_path(p), class: "edit_link", remote: true %>
       </div>

       <% end %>

     </li>
     <% end %>
   </ul>
 </div>
</div>
