<%= render 'shared/appointment_banner'%>

<div class="site-container products container">
  <div class="adminLink">
    <%if user_signed_in? && is_admin? %>
    <%= link_to "Add a Product", new_product_path, id: "new_product_link", remote: true, :class => "text-primary" %>
    <br><br>
    <% end %>
  </div>
  <div>
    <h1>Our Products</h1>
    
    <ul id="product_list" class="col-sm-12">
      <% @products.each do |p| %>

      <li id="<%= p.id %>" class="col-md-5 col-sm-12">
        <div class="product">
         <%= image_tag(p.image_url, class: "img-responsive") %>
         <h2><%= p.name %></h2>
         
         <%if user_signed_in? && is_admin? %>
         <div class="admin-links pull-right">
           <%= link_to "Delete", p, method: :delete, class: "delete_link", remote: true %>
           &nbsp;&nbsp;&nbsp;
           <%= link_to "Edit", edit_product_path(p), class: "edit_link", remote: true %>
         </div>

         <% end %>
         </div>
       </li>
       <% end %>
     </ul>
   </div>
 </div>
