<div class="inner-container products">
  <% @products.each do |p| %>
    <h1><%= p.name %></h1>
    <p><%= p.description %></p>
    <p>$<%= p.price %>0.00</p>
    <p><%= p.sort_order %></p>
    <%= image_tag(p.image_url) %>
        <% p.categories.each do |cat| %>
      <p><%= cat.name %></p>
    <% end %>
  <hr>
  <% end %>
 
</div>
