<%= render 'shared/form_errors', :object => @policy %>

<%= form_for @policy, :html => {:id => "new_policy", :class => "form form-inline"}, remote: true do |f| %>
<h2>Add or Edit Policy</h2>
<a class="close" href="">X</a>
<div class="form-group">
 <%= f.text_field :name, class: "form-control", placeholder: "Policy Name" %>
 </div>
 <div class="form-group">
 <%= f.text_field :description, class: "form-control", placeholder: "Policy Desciption" %>
</div>
 <%= f.submit class: "btn btn-primary" %>
 
 <% end %>