<%= render 'shared/appointment_banner'%>

<div class="site-container policies container">
	<div class="adminLink">
	<%if user_signed_in? && is_admin? %>
	<%= link_to "Add a Policy", new_policy_path, id: "new_policy_link", remote: true, :class => "text-primary" %>
	<br><br>
<% end %>
    </div>

<div>
	<div>
    <h1>Our Policies</h1>
	<ul id="policy_list">
		<div class="col-md-12 policy">
		<% @policies.each do |p| %>
		<li><h2><%= p.name %></h2><p><%= p.description %></p>
			<%if user_signed_in? && is_admin? %>
       <div class="admin-links pull-right" style="margin-left:15px;">
			<%= link_to "Delete", p, method: :delete, class: "delete_link", remote: true %>
         &nbsp;&nbsp;&nbsp;
			<%= link_to "Edit", edit_policy_path(p), class: "edit_link", remote: true %>
			<% end %>
		</div>
			<hr>
		</li>
		<% end %>
	</div>
	</ul>
</div>
</div>
</div>